<!DOCTYPE html>
<html lang="es">
<head>
    <link rel="icon" href="https://i.pinimg.com/originals/a6/bf/1a/a6bf1a021221060f74f9ca9408e38f25.png" type="image/png">
    <meta charset="UTF-8">
    <title>Productos - ⌨️​🖱️Laucha Store</title>
    <link rel="stylesheet" href="../css/productos.css" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
            <a class="navbar-brand" href="../index.html">⌨️​🖱️Laucha Store</a>
            <ul class="navbar-nav ms-auto">
                <li class="nav-item"><a class="nav-link" href="../index.html">Inicio</a></li>
                <li class="nav-item"><a class="nav-link active" href="file:///E:/TRABAJOS%20PRACTICOS/fleming%20Visual%20Studio/TPN%204/components/lista%20de%20productos.html">Productos</a></li>
                <li class="nav-item"><a class="nav-link" href="contacto.html">Contacto</a></li>
            </ul>
        </div>
    </nav>
    
    <div class="container my-5">
        <h2 class="mb-4">Nuestros Productos</h2>
        <div class="row">
            <div class="col-md-4">
                <div class="card">
                    <img src="https://http2.mlstatic.com/D_NQ_NP_949535-MLU78034577633_072024-O.webp" class="card-img-top" alt="Procesador">
                    <div class="card-body">
                        <h5 class="card-title"> Procesador Intel i5-13400 BX8071513400 de 10 núcleos y 4.6GHz de frecuencia con gráfica integrada</h5>
                        <p class="card-text"> ARS $$223.127</p>
                        <a href="https://www.mercadolibre.com.ar/procesador-gamer-intel-core-i5-13400-bx8071513400-de-10-nucleos-y-46ghz-de-frecuencia-con-grafica-integrada/p/MLA22020689" class="btn btn-success">Comprar</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <img src="https://http2.mlstatic.com/D_NQ_NP_972763-MLU78939419339_092024-O.webp"  class="card-img-top" alt="Procesador">
                    <div class="card-body">
                        <h5 class="card-title">Procesador gamer Intel Core i9-14900</h5>
                        <p class="card-text">ARS $2.474.248,54</p>
                        <a href="https://www.mercadolibre.com.ar/procesador-intel-core-i9-14900/p/MLA30621534" class="btn btn-success">Comprar</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQPQUspBUL9pd7Sx4R87V4TuV_ayqPPfzqChg&s" alt="Procesador">
                    <div class="card-body">
                        <h5 class="card-title">Procesador Ryzen 5 8600G c/video c/cooler AM5</h5>
                            <p class="card-text">ARS $295.619</p>
                            <a href="https://www.hardgamers.com.ar/product/-807819019" class="btn btn-success">Comprar</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card">
                        <img src="https://http2.mlstatic.com/D_NQ_NP_973460-MLA82745426678_032025-O.webp" class="card-img-top" alt="Procesador">
                        <div class="card-body">
                            <h5 class="card-title">Procesador Amd Ryzen 9 9950x3d 16 Nucleos Y 32 Hilos 5.7ghz</h5>
                            <p class="card-text">ARS $2.318.380</p>
                            <a href="https://www.mercadolibre.com.ar/procesador-amd-ryzen-9-9950x3d-am5-16n-y-32h-57ghz-80mb/up/MLAU3159352827#polycard_client=search-nordic&search_layout=stack&position=1&type=product&tracking_id=0353689b-9c98-41b5-bb22-749ce7f90aa2&wid=MLA2073742182&sid=search" class="btn btn-success">Comprar</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
