<!DOCTYPE html>
<html lang="es">
<head>
    <link rel="icon" href="https://i.pinimg.com/originals/a6/bf/1a/a6bf1a021221060f74f9ca9408e38f25.png" type="image/png">
    <meta charset="UTF-8">
    <title>Productos - ⌨️​🖱️Laucha Store</title>
    <link rel="stylesheet" href="../css/productos.css" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
            <a class="navbar-brand" href="../index.html">⌨️​🖱️Laucha Store</a>
            <ul class="navbar-nav ms-auto">
                <li class="nav-item"><a class="nav-link" href="../index.html">Inicio</a></li>
                <li class="nav-item"><a class="nav-link active" href="file:///E:/TRABAJOS%20PRACTICOS/fleming%20Visual%20Studio/TPN%204/components/lista%20de%20productos.html">Productos</a></li>
                <li class="nav-item"><a class="nav-link" href="contacto.html">Contacto</a></li>
            </ul>
        </div>
    </nav>
    
    <div class="container my-5">
        <h2 class="mb-4">Nuestros Productos</h2>
        <div class="row">
            <div class="col-md-4">
                <div class="card">
                    <img src="https://http2.mlstatic.com/D_NQ_NP_947314-MLA74780015625_022024-O.webp" class="card-img-top" alt="Ram">
                    <div class="card-body">
                        <h5 class="card-title"> RAM 16GB DDR4</h5>
                        <p class="card-text"> ARS $73.856</p>
                        <a href="#" class="btn btn-success">Comprar</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <img src="https://http2.mlstatic.com/D_NQ_NP_947314-MLA74780015625_022024-O.webp"  class="card-img-top" alt="Ram">
                    <div class="card-body">
                        <h5 class="card-title">RAM 32GB gamer color negro Kingston KF432C16BB/32 DDR4</h5>
                        <p class="card-text">ARS $151.677</p>
                        <a href="https://www.mercadolibre.com.ar/memoria-ram-fury-beast-ddr4-gamer-color-negro-32gb-1-kingston-kf432c16bb32/p/MLA18706823" class="btn btn-success">Comprar</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <img src="https://http2.mlstatic.com/D_NQ_NP_690854-MLA85006371874_052025-O.webp" alt="Ram">
                    <div class="card-body">
                        <h5 class="card-title">Memoria T-force Ddr5 64gb 2x32gb 6000mhz Cl</h5>
                            <p class="card-text">ARS $657.999</p>
                            <a href="https://www.mercadolibre.com.ar/memoria-teamgroup-t-force-vulcan-ddr5-64gb-2x32gb-6000mhz-cl/p/MLA2035658963" class="btn btn-success">Comprar</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card">
                        <img src="https://http2.mlstatic.com/D_NQ_NP_2X_867338-MLU78686574514_092024-F.webp" class="card-img-top" alt="Ram">
                        <div class="card-body">
                            <h5 class="card-title">G.skill Ripjaws Serie V (intel Xmp) Ddr4 Ram De 128 Gb (4x32 Gb) 3600mt/s Cl18-22-22-42 1.35 V</h5>
                            <p class="card-text">ARS $1.512.000</p>
                            <a href="https://www.mercadolibre.com.ar/gskill-ripjaws-serie-v-intel-xmp-ddr4-ram-de-128-gb-4x32-gb-3600mts-cl18-22-22-42-135-v-udimm-negro-f4-3600c18q-128gvk/p/MLA31036265#polycard_client=search-nordic&search_layout=stack&position=8&type=product&tracking_id=ac6f987a-4f00-47ec-bdb1-d4c4c9102f59&wid=MLA2205202382&sid=search" class="btn btn-success">Comprar</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>