<!DOCTYPE html>
<html lang="es">
<head>
    <link rel="icon" href="https://i.pinimg.com/originals/a6/bf/1a/a6bf1a021221060f74f9ca9408e38f25.png" type="image/png">
    <meta charset="UTF-8">
    <title>Productos - ⌨️​🖱️Laucha Store</title>
    <link rel="stylesheet" href="../css/productos.css" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
            <a class="navbar-brand" href="../index.html">⌨️​🖱️Laucha Store</a>
            <ul class="navbar-nav ms-auto">
                <li class="nav-item"><a class="nav-link" href="../index.html">Inicio</a></li>
                <li class="nav-item"><a class="nav-link active" href="file:///E:/TRABAJOS%20PRACTICOS/fleming%20Visual%20Studio/TPN%204/components/lista%20de%20productos.html">Productos</a></li>
                <li class="nav-item"><a class="nav-link" href="contacto.html">Contacto</a></li>
            </ul>
        </div>
    </nav>
    
    <div class="container my-5">
        <h2 class="mb-4">Nuestros Productos</h2>
        <div class="row">
            <div class="col-md-4">
                <div class="card">
                    <img src="https://encrypted-tbn0.gstatic.com/shopping?q=tbn:ANd9GcTTgbwDilk5CGzDocoiZtoqk0mHZkJr-5ebvr8pNxx3GrDRSUbG_xJNR8UOOOcwQ9Ow5LsbdWCO2Aqvn6TaMLQvEUm4YJdbOGBlYnBfuUqjti7nDZBtygMXng" class="card-img-top" alt="Fuente">
                    <div class="card-body">
                        <h5 class="card-title"> Fuente de poder de  1000W</h5>
                        <p class="card-text"> ARS $225.000</p>
                        <a href="https://www.mercadolibre.com.ar/fuente-de-poder-pc-1000w-gamer-gigabyte-ud1000gm-80-plus-gold-modular-gp-ud1000gm-color-negro/p/MLA22834785#polycard_client=search-nordic&search_layout=grid&position=3&type=product&tracking_id=1c737189-a9bf-405b-9a13-e0f63feb4960&wid=MLA2137432342&sid=search" class="btn btn-success">Comprar</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <img src="https://http2.mlstatic.com/D_NQ_NP_957883-MLU72209290203_102023-O.webp"  class="card-img-top" alt="Fuente">
                    <div class="card-body">
                        <h5 class="card-title">Fuente de poder de 850W</h5>
                        <p class="card-text">ARS $300.000</p>
                        <a href="https://www.mercadolibre.com.ar/corsair-fuente-850w-rme-rm850e-80-plus-gold-full-modular-color-negro/p/MLA27684618#polycard_client=search-nordic&search_layout=grid&position=1&type=product&tracking_id=94596ec1-f644-450c-8612-a15383e23a13&wid=MLA2100710904&sid=search" class="btn btn-success">Comprar</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <img src="https://http2.mlstatic.com/D_NQ_NP_643517-MLA81180828716_122024-O.webp" class="card-img-top" alt="Fuente">
                    <div class="card-body">
                        <h5 class="card-title">Fuente Pc Gamer Gamemax Vp-800 800w Real 80 Plus Bronze Atx Color Negro</h5>
                            <p class="card-text">ARS $139.990</p>
                            <a href="https://www.mercadolibre.com.ar/fuente-pc-gamer-gamemax-vp-800-800w-real-80-plus-bronze-atx-color-negro/p/MLA44812127" class="btn btn-success">Comprar</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card">
                        <img src="https://http2.mlstatic.com/D_NQ_NP_947790-MLU70771753250_072023-O.webp" class="card-img-top" alt="Fuente">
                        <div class="card-body">
                            <h5 class="card-title">Fuente de poder de 750W</h5>
                            <p class="card-text">ARS $125.999</p>
                            <a href="https://www.mercadolibre.com.ar/fuente-pc-gamer-xpg-pylon-750w-atx-80-plus-bronze-cooler-120-color-negro/p/MLA25434494#polycard_client=search-nordic&search_layout=grid&position=10&type=product&tracking_id=8c69a066-0408-4163-9ae9-c0ba4c15a2fa&wid=MLA2313812050&sid=search" class="btn btn-success">Comprar</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>